h1,h2,h3,h4,p,body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("../images/body_bg.png");
}

img {
    width: 100%;
}

.block {
	width: 100%;
	height: 100vh;
	color: white;
	padding: 30px;   
}

.block .div1 p {
    margin: 30px;
}


.block .div2 p {
    margin: 30px;
}


.block .div2 a {
    text-decoration: none;
    color: white;
}

.block .div3 button {
    background-color: orangered;
    color: white;
    font-size: 20px;
    padding: 15px 50px;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
}

.block1 {
    width: 100%;
    padding: 50px;
    background-color: white;
    overflow: auto;
}

.block1 .div5 {
    width: 650px;
    height: auto;
    float: left;
}

.position {
    position: relative;
}

.position img {
    width: 50%;
}

.position h1 {
    position: absolute;   
    top: 60px;
    left: 60px;
}
.block1 .div5  h1 {
    font-size: 3rem;
   margin: 20px;
   padding: 10px;
   background-repeat: no-repeat;
}

.block1 .div5  p {
    font-size: 1.4rem;
   margin: 20px;
   padding: 10px;
}

.block1 .div5 button {
    color: white;
    background-color: orangered;
    margin: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
   
}

.wrapper1 {
	display: flex;
	align-items: center;
	justify-content: center;
    transform: translateY(30%);
}

.wrapper1 .div3 h1 {
    font-size: 60px;
}

.div4 {
    float: right;
    width: 40%;
}

.div4 img {
    width: 400px;
}

.div6 {
    width: 400px;
    float: left;
}

.block2 {
    width: 100%;
    height: auto;
    clear: both;
    text-align: center;
    padding: 50px;
    
}

.block2 h1 {
    color: white;
    font-size: 2.7rem;
    padding-top: 20px;
}

.div7 p {
    color: white;
    font-size: 1.2rem; 
    padding-top: 10px;
    padding-bottom: 70px;
}

.gap-10 {
    gap: 10px;
}

.div8{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.div8 div {
    width: 20%;
}
.div8 img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
}

.flex {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    
}

.block2 .div9 button {
    color: white;
    background-color: orangered;
    margin: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 13px 35px;
    border: none;
    border-radius: 25px;
}

.div9 h1 {
    padding-bottom: 30px;
}

.div10 input {
    width: 35%;
    padding: 30px;
    border: 1px solid white;
    margin-right: 10px;
    background: none;
    color: white;
    font-size: 18px;
    
}

.div10 button {
    color: white;
    background-color: orangered;
    margin: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 15px 55px;
    border: none;
    border-radius: 25px;
}

.div11 img {
    width: 500px;
    height: auto;
    padding-bottom: 50px;
}

.div12 {
    width: 300px;
    text-align: left;
    padding-right: 40px;
}

.div12 p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff;
    padding-bottom: 20px;

}

.div12 a {
    text-decoration: none;
    color: white;
}

.div12 i {
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    color: black;
}

.block2 p {
    color: #ffffff;
}

.div13 input {
    padding: 15px;
    margin: 8px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    text-decoration: none;

}

.div13 button {
    color: white;
    background-color: orangered;
    margin: 8px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 15px 80px;
    border: none;
    border-radius: 15px;
}

.menu2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu2 li a {
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 27px;
}

.menu2 li a:hover {
    color: orange;
}

.div3 {
    margin-left: 10%;
}

.side-menu {
    float: left;
    font-size: 12px;
}
.side-menu h1 {
    margin: 0;
}

.mb-20px {
    margin-bottom: 20px;
}

.side-menu h1 span {
    display: block;
}

.menu2 li {
    writing-mode: vertical-lr;
    rotate: 180deg;
}

.top-nav span {
    margin-left: 10px;
    margin-right: 10px;
}

.top-nav {
    padding: 10px 70px;
}