h1,h2,h3,h4,p,body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("../images/body_bg.png");
}

img {
    width: 100%;
}

.block {
	width: 100%;
	height: 120vh;
	color: white;
	padding: 30px;  
    font-size: 12px; 
}

.wrapper1 {
	display: flex;
	align-items: center;
	justify-content: center;
    transform: translateY(30%);
    flex-wrap: wrap;
}



.wrapper1 .div3 h1 {
    font-size: 4.5em;
}

.div3 button {
    background-color: orangered;
    color: white;
    font-size: 20px;
    padding: 15px 50px;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
}

.div4 {
    float: right;
    width: 40%;
}



.block1 {
    width: 100%;
    padding: 50px;
    background-color: white;
    overflow: auto;
    font-size: 12px;
}

.block1 .div5 {
    width: 50%;
    height: auto;
    float: left;
}

.position {
    position: relative;
}

.position img {
    width: 50%;
}

.position h1 {
    position: absolute;   
    top: 60px;
    left: 60px;
}
.block1 .div5  h1 {
    font-size: 3em;
   margin: 20px;
   padding: 10px;
   background-repeat: no-repeat;
}

.block1 .div5  p {
    font-size: 1.4em;
   margin: 20px;
   padding: 10px;
}

.block1 .div5 button {
    color: white;
    background-color: orangered;
    margin: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
   
}



.div6 {
    width: 50%;
    float: left;
}

.block2 {
    width: 100%;
    height: auto;
    clear: both;
    text-align: center;
    padding: 50px;    
}

.block2 h1 {
    color: white;
    font-size: 2.7rem;
    padding-top: 20px;
}

.div7 p {
    color: white;
    font-size: 1.2rem; 
    padding-top: 10px;
    padding-bottom: 70px;
}

.gap-10 {
    gap: 10px;
}

.div8{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.div8>div {
    width: 250px;
    height: 250px;
}

.div8 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 70px;
    flex-wrap: wrap;
    
}

.block2 .div9 button {
    color: white;
    background-color: orangered;
    margin: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 13px 35px;
    border: none;
    border-radius: 25px;
}

.div9 h1 {
    padding-bottom: 30px;
}

.div10 input {
    width: 37%;
    padding: 30px;
    border: 1px solid white;
    margin-right: 10px;
    margin-bottom: 20px;
    background: none;
    color: white;
    font-size: 18px;
    
}

.div10 button {
    color: white;
    background-color: orangered;
    margin: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 15px 55px;
    border: none;
    border-radius: 25px;
}

.div11 img {
    width: 45%;
    height: auto;
    padding-bottom: 50px;
}

.width-10 {
    width: 10% !important;
}

.footer {
    width: 100%;
    padding: 15px;
    text-align: center;
    color: #ffffff;
}

.div12 {
    width: 25%;
    text-align: left;
    padding-right: 40px;
    color: #ffffff;
}

.div12 p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;

}

.div12 a {
    text-decoration: none;
    color: white;
}

.div12 i {
    border: 1px solid #ffffff;
    padding: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    color: black;
}

.block2 p {
    color: #ffffff;
}

.div13 {
    width: 25%;
    color: #ffffff;
}


.div13 input {
    width: 100%;
    padding: 15px;
    margin: 8px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    text-decoration: none;

}

.div13 button {
    width: 100%;
    color: white;
    background-color: rgb(236, 89, 35);
    margin: 8px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    text-align: center;
}

.menu2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu2 li a {
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 27px;
}

.menu2 li a:hover {
    color: orange;
}

.sm-menu {
    display: none;
    float: right;
    list-style: none;
    text-align: center;
}

.dropdown {
    position: relative;
}

.button1 {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;

}

.sm-content {
    display: none;
    position: absolute;
    color: #ffffff;
    background-color: black;
    min-width: 250px;
    z-index: 1;
    right: 0;
    margin: 10px;
}

.sm-content a {
    color: #ffffff;
    padding: 10px 0px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.sm-content a:hover {
    background-color: #2b2b2b;
}

.dropdown:hover .sm-content {
  display: block;
}


.div3 {
    width: 50%;
    margin-left: 10%;
}

.side-menu {
    float: left;
    font-size: 12px;
}
.side-menu h1 {
    margin: 0;
}

.mb-20px {
    margin-bottom: 20px;
}

.side-menu h1 span {
    display: block;
}

.menu2 li {
    writing-mode: vertical-lr;
    rotate: 180deg;
}

.top-nav span {
    margin-left: 10px;
    margin-right: 10px;
}

.top-nav {
    padding: 10px 70px;
}

@media only screen and (max-width:992px) {

    .block {
        height: 65%;
        padding: 20px;
    }

    .div3 {
        width: 55%;
        margin-left: 0;
    }

    .div4 {
        width: 32%;

    }
    
    .div8 {
        width: 100%;
        gap: 60px;
    }
    .div8 > div {
        width: 270px;
        height: 270px;

    }

    .div10 input {
        width: 40%
    }

    .div11 {
        width: 100%;
        
    }


}

@media only screen and (max-width:768px) {

    .block {
        width: 100%;
        padding: 20px;
    }

    .div3 {
        width: 45%;

    }

    .dv3 h1 {
        font-size: 2em;
    }

    .div3 p {
        font-size: 14px;
    }

    .div4 {
        width: 32%;

    }

    .position h1{
        left: 30px;
    }

    .block1 .div5  h1 {
        font-size: 2.7em;
       margin: 0px;
       padding: 0px;
       background-repeat: no-repeat;
    }
    
    .div8 > div{
        width: 45%;
        
    }


    .div10 input {
        width: 40%
    }

    .div11 {
        width: 100%;
    }

    .div12 {
        width: 25%;
        padding-right: 0px;
    }

    .div13 {
        width: 30%;
    }

    .div13 input {
        width: 100%;
    }
    
    .div13 button {
        width: 100%;
    }

    
}

@media only screen and (max-width:600px) {
    
    .block .menu2 {
        display: none;
    }

    .top-nav {
        display: none;
    }

    .sm-menu {
        display: inline-block !important;
    }


    .block {
        width: 100%;
        height: 100%;
    }

    .block .div3 {
        width: 100%;
        margin-left: 0;
    }

    .block1 {
        width: 100%;
    }

    .block .div4 {
        width: 100%;
    }


    .block1 .div5 {
        float: none;
        width: 100%;
    }

    .block1 .div6 {
        float: none;
        width: 100%;
    }

    .div8 > div {
        width: 40%;
    }

    .div10 input {
        width: 100%;
    }

    .block2 {
    padding: 25px;
    }

    .div11 {
        width: 100%;
    }

    .flex {
        width: 100%;
        justify-content: space-between;
        padding: 15px;
    }

    .div12 {
        width: 49%;
        padding-right: 0;
    }
    
    .div13 {
        width: 50%;
    }
}